In [2]:
import pandas as pd

In [4]:
matches = pd.read_csv("nba_games.csv")

In [6]:
matches

,Unnamed: 0,rk,g,date,unnamed: 3_level_1,opp,w/l,tm,opp.1,fg,...,opp_ft%,opp_orb,opp_trb,opp_ast,opp_stl,opp_blk,opp_tov,opp_pf,season,team
0,0,1,1,2023-10-25,NaN,WAS,W,143,120,56,...,.793,11,45,28,6,9,14,11,2024,IND
1,1,2,2,2023-10-28,@,CLE,W,125,113,48,...,.625,18,51,29,2,6,6,16,2024,IND
2,2,3,3,2023-10-30,NaN,CHI,L,105,112,36,...,.839,10,44,19,8,6,13,17,2024,IND
3,3,4,4,2023-11-01,@,BOS,L,104,155,46,...,.964,11,57,27,5,2,11,19,2024,IND
4,4,5,5,2023-11-03,NaN,CLE,W,121,116,45,...,.800,5,35,27,10,9,13,20,2024,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8095,85,80,80,2022-04-06,@,UTA,L,101,137,37,...,.750,16,55,29,7,10,11,13,2022,OKC
8096,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Team,...,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,2022,OKC
8097,87,Rk,G,Date,NaN,Opp,W/L,Tm,Opp,FG,...,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,2022,OKC
8098,88,81,81,2022-04-08,@,LAL,L,101,120,40,...,.744,7,45,23,8,4,9,17,2022,OKC
8099,89,82,82,2022-04-10,@,LAC,L,88,138,37,...,.857,12,57,34,4,8,9,11,2022,OKC

In [8]:
matches = matches[~matches['rk'].isna()]

In [10]:
matches

,Unnamed: 0,rk,g,date,unnamed: 3_level_1,opp,w/l,tm,opp.1,fg,...,opp_ft%,opp_orb,opp_trb,opp_ast,opp_stl,opp_blk,opp_tov,opp_pf,season,team
0,0,1,1,2023-10-25,NaN,WAS,W,143,120,56,...,.793,11,45,28,6,9,14,11,2024,IND
1,1,2,2,2023-10-28,@,CLE,W,125,113,48,...,.625,18,51,29,2,6,6,16,2024,IND
2,2,3,3,2023-10-30,NaN,CHI,L,105,112,36,...,.839,10,44,19,8,6,13,17,2024,IND
3,3,4,4,2023-11-01,@,BOS,L,104,155,46,...,.964,11,57,27,5,2,11,19,2024,IND
4,4,5,5,2023-11-03,NaN,CLE,W,121,116,45,...,.800,5,35,27,10,9,13,20,2024,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8094,84,79,79,2022-04-05,NaN,POR,W,98,94,39,...,.813,10,40,24,10,6,17,19,2022,OKC
8095,85,80,80,2022-04-06,@,UTA,L,101,137,37,...,.750,16,55,29,7,10,11,13,2022,OKC
8097,87,Rk,G,Date,NaN,Opp,W/L,Tm,Opp,FG,...,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,2022,OKC
8098,88,81,81,2022-04-08,@,LAL,L,101,120,40,...,.744,7,45,23,8,4,9,17,2022,OKC
8099,89,82,82,2022-04-10,@,LAC,L,88,138,37,...,.857,12,57,34,4,8,9,11,2022,OKC

In [12]:
matches = matches[matches['rk'] != "Rk"]

In [14]:
matches

,Unnamed: 0,rk,g,date,unnamed: 3_level_1,opp,w/l,tm,opp.1,fg,...,opp_ft%,opp_orb,opp_trb,opp_ast,opp_stl,opp_blk,opp_tov,opp_pf,season,team
0,0,1,1,2023-10-25,NaN,WAS,W,143,120,56,...,.793,11,45,28,6,9,14,11,2024,IND
1,1,2,2,2023-10-28,@,CLE,W,125,113,48,...,.625,18,51,29,2,6,6,16,2024,IND
2,2,3,3,2023-10-30,NaN,CHI,L,105,112,36,...,.839,10,44,19,8,6,13,17,2024,IND
3,3,4,4,2023-11-01,@,BOS,L,104,155,46,...,.964,11,57,27,5,2,11,19,2024,IND
4,4,5,5,2023-11-03,NaN,CLE,W,121,116,45,...,.800,5,35,27,10,9,13,20,2024,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8093,83,78,78,2022-04-03,NaN,PHO,W,117,96,43,...,.882,6,33,22,14,4,11,17,2022,OKC
8094,84,79,79,2022-04-05,NaN,POR,W,98,94,39,...,.813,10,40,24,10,6,17,19,2022,OKC
8095,85,80,80,2022-04-06,@,UTA,L,101,137,37,...,.750,16,55,29,7,10,11,13,2022,OKC
8098,88,81,81,2022-04-08,@,LAL,L,101,120,40,...,.744,7,45,23,8,4,9,17,2022,OKC
8099,89,82,82,2022-04-10,@,LAC,L,88,138,37,...,.857,12,57,34,4,8,9,11,2022,OKC

In [16]:
matches.columns

Index(['Unnamed: 0', 'rk', 'g', 'date', 'unnamed: 3_level_1', 'opp', 'w/l',
       'tm', 'opp.1', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta',
       'ft%', 'orb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'unnamed: 24_level_1', 'opp_fg', 'opp_fga', 'opp_fg%', 'opp_3p',
       'opp_3pa', 'opp_3p%', 'opp_ft', 'opp_fta', 'opp_ft%', 'opp_orb',
       'opp_trb', 'opp_ast', 'opp_stl', 'opp_blk', 'opp_tov', 'opp_pf',
       'season', 'team'],
      dtype='object')

In [18]:
matches_columns = matches.columns.tolist()

matches_columns[0] = "id"

matches.columns = matches_columns

In [20]:
matches.columns

Index(['id', 'rk', 'g', 'date', 'unnamed: 3_level_1', 'opp', 'w/l', 'tm',
       'opp.1', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       'orb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'unnamed: 24_level_1',
       'opp_fg', 'opp_fga', 'opp_fg%', 'opp_3p', 'opp_3pa', 'opp_3p%',
       'opp_ft', 'opp_fta', 'opp_ft%', 'opp_orb', 'opp_trb', 'opp_ast',
       'opp_stl', 'opp_blk', 'opp_tov', 'opp_pf', 'season', 'team'],
      dtype='object')

In [22]:
matches = matches.drop('unnamed: 24_level_1', axis=1)

In [24]:
matches.columns

Index(['id', 'rk', 'g', 'date', 'unnamed: 3_level_1', 'opp', 'w/l', 'tm',
       'opp.1', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       'orb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'opp_fg', 'opp_fga',
       'opp_fg%', 'opp_3p', 'opp_3pa', 'opp_3p%', 'opp_ft', 'opp_fta',
       'opp_ft%', 'opp_orb', 'opp_trb', 'opp_ast', 'opp_stl', 'opp_blk',
       'opp_tov', 'opp_pf', 'season', 'team'],
      dtype='object')

In [26]:
matches.to_csv("nba_games.csv")